<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails du Livre</title>
</head>
<body>
<h1>Détails du Livre</h1>
<div>
    <label>ID :</label>
    <span th:text="${livre.id_livre}"></span>
</div>
<div>
    <label>Titre :</label>
    <span th:text="${livre.titre}"></span>
</div>
<div>
    <label>Auteur :</label>
    <span th:text="${livre.auteur}"></span>
</div>
<div>
    <a th:href="@{|/livre/edit/${livre.id_livre}|}">Modifier</a>
    <a th:href="@{/livre/list}">Retour</a>
</div>
</body>
</html>
