<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulaire Livre</title>
</head>
<body>
<h1 th:text="${#strings.isEmpty(livre.id_livre) ? 'Ajouter' : 'Modifier'} + ' un livre'"></h1>
<form th:action="@{/livre/save}" th:object="${livre}" method="post">
    <input type="hidden" th:field="*{id_livre}" />
    <div>
        <label for="titre">Titre</label>
        <input type="text" id="titre" th:field="*{titre}" />
    </div>
    <div>
        <label for="auteur">Auteur</label>
        <input type="text" id="auteur" th:field="*{auteur}" />
    </div>
    <div>
        <button type="submit">Enregistrer</button>
        <a th:href="@{/livre/list}">Annuler</a>
    </div>
</form>
</body>
</html>
